#control-panel-buttons{

    margin-top: 300px;
    margin-left: 40%;

}

#control-panel-buttons div{

    margin-right: 10px;


}

#control-panel{

    width:100%;
    height:410px;
    color: black;

}

#control-panel table{

    float: right;
    width: 570px;

}

