#control-panel-buttons{

    height: 44px;
    width: 362px;
    float: left;
    clear: both;


}

#control-panel-buttons div{

    margin-right: 10px;

}

#control-panel{

    width:100%;
    height:410px;
    color: black;

}

#control-panel table{

    float: right;
    width: 50%;
    margin-top: -145px;

}

#alerts{

    display:table;
    margin-top: -55px;

}

.valueSlider{

    width:40%;
    height: 150px;
    float:left;
    clear:both;

}

#sliderForm p{

    margin-top: 10px;


}

#sliderHum p{

    margin-top: 10px;

}