/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*{
    margin: 0;
    padding: 0;
    border: 0;

    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
    font-family: 'Open Sans', sans-serif;
}

.main-menu{
    width:100%;


}

#container{

    width:80%;
    margin-left: 11%;
    border: 1px solid grey;
    border-radius: 4px;
    height:500px;

}

.top-bar{
    height:40px;
    width:100%;
    background-color: #2C2E30;
    margin-bottom: 25px;
}

#logo{
    margin-left: 11%;
    margin-bottom: 25px;
}

.item{
    margin-left: 10%;
}

.results{

    font-size: 2.3em;
    font-weight: 200;
    padding-top: 10px;
}
.module{

    width:100%;
    border:1px solid #808080;
    border-radius: 2px;
}
.module div{

    width:100%;
    background-color: black;
    color:white;
    height:30px;
    text-align: center;
    padding-top: 6px ;
}
.module img{

    width:60%;
    margin-left:20%;

}

.graph img{

    width:100%;
    margin-top: 31px;
    margin-left: 0;
}

.hum img{

    margin-top: 38px;
    margin-bottom: 36px;
}

.temp img{

    margin-top:55px;
    margin-bottom: 38px;
}

.hidden{

    display:none;
}

#result-temp{

    height: 57px;
    padding-top: 23px;
}

#result-hum{

    height: 57px;
    padding-top: 23px;
}

#result-graph{

    height: 57px;
    padding-top: 23px;

}