/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*{
    margin: 0;
    padding: 0;
    border: 0;

    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
    font-family: 'Open Sans', sans-serif;
}

.main-menu{
    width:100%;


}

#Container{

    width: 86%;
    margin-left: 8%;
    border: 1px solid grey;
    border-radius: 4px;
    height:500px;

}

.top-bar{
    height:40px;
    width:100%;
    background-color: #2C2E30;
    margin-bottom: 25px;
}

#logo{
    margin-left: 11%;
    margin-bottom: 25px;
}

.item{
    margin-left: 10%;
}

.module:first-child{

    text-align: center;
}

.module{

    width:100%;
    border:1px solid #E3DEDE;
    border-radius: 2px;
}
.module div:not(.caption){

    width:100%;
    background-color: #444444;
    color:white;
    height:30px;
    padding-top: 6px ;
}
/*.results{*/

    /*font-size: 2.3em;*/
    /*font-weight: 200;*/
    /*padding-top: 10px;*/
    /*text-align: center;*/
 /*}*/
.module img{

width: 60%;
margin-left: 0%;

}

.graph img{

    width:100%;
    margin-top: 31px;
    margin-left: 0;
}

.hum img{

    margin-top: 38px;
    margin-bottom: 38px;
}

.temp img{

    margin-top: 39px;
    margin-bottom: 38px;
}

.hidden{

    display:none;
}

#result-temp{

    height: 57px;
    padding-top: 23px;
    font-size: 1.8em;
}

#result-hum{

    height: 57px;
    padding-top: 23px;
    font-size: 1.8em;
}

#result-graph{

    height: 57px;
    padding-top: 23px;

}

#power{
    position:absolute;
    margin-top: -80px;
    margin-left:80%;

}

.powerStatus{

    height:50px;

}

.caption{

    height: 155px;
    padding-top: 100px;
    text-align: center;
    color:white;
    background-color: #444444;

}

.column{

    width:28%;
    float:left;
    margin-left:8%;
}

.chart{

	margin-top: 14px;
	border-left: 1px solid #E3DEDE;
	border-top: 1px solid #E3DEDE;
	border-right: 1px solid #E3DEDE;
	width: 101%;
	margin-left: -1px;
	padding-bottom: 18%;
	position: relative;
	overflow: hidden;
	
	
}
.chart-module{
	
	border:1px solid #E3DEDE;
	width:101%;
	
}

.column:first-child{
	
	margin-left: 0%;
	
}

.chart-module{
	
	width: 100%;
    background-color: black;
    color:white;
    height:30px;
    padding-top: 6px ;
    text-align: center;
	
	
}

.chart-footer{
	
	background-color: black;
	width: 101%;
	height: 81px;
	margin-left: -1px;
	border-left: 1px solid #E3DEDE;
	border-bottom: 1px solid #E3DEDE;
	border-right: 1px solid #E3DEDE;
	
}
.grid{
	
	width:100%;
}
