@media screen and (max-width: 360px){

	.main-menu{
		
		width:99%;
		
		
	}


    #Container{

        width:100%;
        margin-left: 0;
        height: 1427px;
        border:0px transparent black;


    }

    #logo {
        margin-left: 2%;
        margin-bottom: 25px;
        width: 247px;
    }

    #logo img{

        width:50%;

    }

    .results{


        text-align: center;
        font-size: 1.2em;
    }


    .module div:not(.results){

        width:100%;
        background-color: black;
        color:white;
        height:30px;
        text-align: center;
        padding-top: 15px ;
    }


    .column{

        float:none;
        width:100%;
        
        margin-left: 0;
        margin-bottom: 5px;
    }


    .top-bar {
        height: 40px;
        width: 100%;
        background-color: #2C2E30;
        margin-bottom: 25px;
    }


    #power{
        position: absolute;
        margin-top: -57px;
        margin-left: 53%;
        width: 147px;

    }
    .chart{
    
    
		margin-left: 0px;
		width: 100%;
		overflow: hidden;
	    
    }

}