/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*{
    margin: 0;
    padding: 0;
    border: 0;

    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.main-menu{

    width:100%;


}

#container{

    width:80%;
    margin-left: 11%;
    border: 1px solid black;
    border-radius: 2px;
    height:500px;

}

.top-bar{
    height:40px;
    width:100%;
    background-color: black;
    margin-bottom: 200px;
}

.item{
    margin-left: 10%;


}